.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    form {
        width: 90%;

        mat-form-field {
            margin-bottom: 0.5em;
        }
        button {
            margin-bottom: 0.5em;
            width: 100%;
        }
    }
}


.button-bar{
    // flex row, items float right
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.textarea-container {
    width: 100%;
}
