.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-bar{
    // flex row, items float right
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%; 
}

mat-form-field{
    height: 50%;
}

mat-icon:hover{
    transform: scale(1.1);
    transition: transform 0.05s ease-in-out;
} 

.submit-hidden {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.submit-visible {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}