@import '../mixins/core.scss';

.login-page-layout {
    @include padding;
    form {
        display: flex;
        flex-direction: column;
        max-width: 20em;
        mat-form-field{
            margin-bottom: 0.5em;
        }
    }
}

.error-banner {
    text-align: center;
    margin-bottom: 0.5em;
    padding: 0.5em;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}