@import '../mixins/core.scss';

.thread-selector-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 20em;

    // margin bottom 1em to every element except last
    & > *:not(:last-child){
        margin-bottom: 1em;
    }
}
.threads-page-layout {
    @include padding;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.thread-viewer-box {
    flex-grow: 1;
    max-width: 40vw;
}
.multiselector-viewer-box {
    ::ng-deep {
        .dropdown-btn{
            width: 90% !important;
        }
    }
}
