<div class="threads-page-layout">
    <div class="thread-selector-box">
        <div *ngFor="let thread of threads$ | async">
            <app-thread-selector [isSelected]="(getSelectedThread() | async)?.id === thread.id"
                (threadSelected)="onThreadSelected($event)" [thread]="thread"></app-thread-selector>
        </div>
    </div>
    <div class="thread-viewer-box" *ngIf="getSelectedThread() | async">
        <app-thread-viewer [thread]="getSelectedThread() | async"></app-thread-viewer>
    </div>
    <mat-card class="multiselector-viewer-box">
        <mat-card-header><mat-card-title>Bulk Send</mat-card-title></mat-card-header>
        <mat-card-content>
            <app-multi-contact-selector></app-multi-contact-selector>
            <app-message-creator (onClick)="onClick($event)"></app-message-creator>
        </mat-card-content>
    </mat-card>
</div>