.thread-selector-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 20em;

    // margin bottom 1em to every element except last
    & > *:not(:last-child){
        margin-bottom: 1em;
    }
}
.thread-viewer-box{
    min-width: 40em;
}
.threads-page-layout {
    padding: 1em;
    // row flex where first div takes up 1/4 of space and second div takes up 3/4 of space
    display: flex;
    flex-direction: row;
    gap: 1em;
}
