<div class="bulk-autoreply-layout">
    <form [formGroup]="autoreplyForm">
        <mat-form-field subscriptSizing="dynamic" appearance="outline">
            <mat-label>Bulk Autoreply</mat-label>
            <input matInput formControlName="autoreply">
        </mat-form-field>
        <button *ngIf="inputValid()" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        <button mat-raised-button color="warn" (click)="onClearAllClick()">Clear All</button>
    </form>
</div>