<mat-card (click)="selectThread()" [ngClass]="isSelected ? 'selected' : ''"
    [ngClass]="hasUnreadMessage ? 'unread' : ''">
    <mat-card-header>
        <mat-icon *ngIf="hasUnreadMessage"
            style="position: absolute; right: 0.25em; top: 0.25em;">notifications</mat-icon>
        <mat-card-title>{{getContactName(thread)}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="latest-message">{{getLatestMessage(thread)?.body || ''}}</p>
    </mat-card-content>
</mat-card>