mat-card {
    overflow-y: auto;
    max-height: 90vh;
}
mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
mat-divider {
    margin: 0.5em 0 0.5em 0;;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:white;  // TODO: scss constant
}

.sticky-footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color:white;  // TODO: scss constant
}