<div id="threads-page-container">
    <div id="thread-selector-container">
        <ng-container *ngFor="let thread of threads">
            <app-thread-selector (threadSelected)="onThreadSelected($event)" [thread]="thread"></app-thread-selector>
        </ng-container>
    </div>
    <div id="thread-viewer-container">
        <app-thread-viewer *ngIf="selectedThread" [thread]="selectedThread"></app-thread-viewer>
    </div>
    <div id="multiselector-viewer-container">
        <app-bulk-send-component (bulkSend)="onBulkSend($event)"></app-bulk-send-component>
    </div>
</div>