@import '../../mixins/core.scss';

.thread-viewer-container {
}

.thread-selector-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 1em;
    min-width: 15em;
    max-width: 15em;

    user-select: none;
    // margin bottom 1em to every element
    & > *{
        margin-bottom: 1em;
    }
}
.threads-page-layout {
    @include padding;
    @include flex-row;
    align-items: flex-start;
}

