<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/login">Login</a>
            <a mat-list-item routerLink="/threads">View Threads</a>
            <a mat-list-item routerLink="/users">View Contacts</a>
            <a mat-list-item routerLink="/schedule">Schedule Messages</a>
            <a mat-list-item (click)="onExportClick()">Export Messages</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>