@import '../mixins/core.scss';

.schedule-page-layout {
    @include padding;
    @include flex-row;
}
.sender-container{
    @include flex-column;
    align-items: flex-start;
    min-width: 30em;
}
.scheduled-list-container{
    flex-grow: 1;
}
mat-card{
    padding: 1em;
    width: 100%;
}
mat-chip{
    margin-left: 1em;

}
mat-tooltip{
}
::ng-deep{
    .multiselect-dropdown{
        width: 25em !important;
        margin-bottom: 1em;
    }
}
