<div class="text-width" [ngClass]="senderIsViewing ? 'right' : 'left'">
    <p>{{ message.createdAt | date : 'short' }}</p>
    <ng-container *ngIf="message.mediaUrl">
        <ng-container *ngIf="!isVCF(); else vcf">
            <p [matTooltip]="message.mediaUrl">URL: {{ message.mediaUrl | slice:0:30 }} </p>
            <img style="width: 5em; height: auto;" src="{{message.mediaUrl}}" />
        </ng-container>
        <ng-template #vcf>
            <p>[[VCF]]</p>
        </ng-template>
    </ng-container>

    <p *ngIf="message.body">{{message.body}}</p>
</div>